@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,300;0,600;0,800;0,900;1,600&display=swap');

/* 
===============
General Elements 
===============
*/

*, *::after, *::before {
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    background-color: #242526;
}

.no-scroll {
    overflow: hidden;
    height: 100svh;
}

body {
    margin: 0;
    overflow: hidden;
}

/* 
===============
Homepage 
===============
*/

/* Variables */
:root {
    --bar-width: 40px;
    --bar-height: 6px;
    --hamburger-gap: 6px;
    --foreground: #F8F5E7;
    --light-foreground: #A3A3A3;
    --accent: #B18D57;
    --light-accent: #B3976E;
    --background: #373839;
    --hamburger-margin: 1vw;
    --animation-bezier: 750ms cubic-bezier(0, 1.5, 0, 0.9);
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

/* Header */
.hamburger-menu {
    padding: 1.5em 2em 0 0;
    --crossed-width: calc(var(--hamburger-height) * 1.4142135623731);
    display: flex;
    float: right;
    flex-direction: column;
    width: max-content;
    gap: var(--hamburger-gap);
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 1;
    cursor: pointer;
    position: fixed;
    z-index: 100;
}

.hamburger-menu input:focus {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 999px;
    transform-origin: left center;
    transition: opacity var(--animation-bezier), width var(--animation-bezier), 
        rotate var(--animation-bezier), translate var(--animation-bezier),
        background-color var(--animation-bezier);
}

.hamburger-menu input {
    appearance: none;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--crossed-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--crossed-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-bezier);
    translate: 100%;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin));
    background-color: rgba(36, 37, 38, 0.99);
    color: var(--foreground);
    width: 200vw;
    min-height: 100svh;
    float: right;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    z-index: 50;
}

.sidebar nav {
    width: 305vw;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
    position: relative;
}

.sidebar li {
    padding: 1.4em 0;
}

.sidebar a {
    font-family: "DM Serif Display";
    color: var(--foreground);
    font-size: 2em;
}

nav a.active {
    color: #CAA468;
}

body .home {
    padding: 1.25em 0 0 2em;
    position: fixed;
    z-index: 100;
}

#opening {
    position: relative;
    height: 100vh;
}

/* 
===============
Hero Section & Homepage
===============
*/

main {
    background-image: url(../images/circles_background.png);
}

.quote-text,
.summary-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: var(--light-foreground);
    font-family: "Sofia Sans";
    font-size: 1rem;
    letter-spacing: 0.5vw;
}

.quote-text {
    top: 10%;
}

.summary-text {
    bottom: calc(20% - 6rem);
}

.gold-highlight {
    color: var(--accent);
}

.gold-highlight {
    color: var(--accent);
}

.bold-text {
    font-weight: bold;
}

#main-headings {
    position: absolute;
    top: 15em;
    width: 100svw;
    text-align: center;
}

#main-headings img {
    position: relative;
    width: 85vw;
    display: block;
    margin: auto;
    z-index: -2;
}

#about-preview, 
#experiences-preview, 
#goals-preview, footer {
    position: relative;
    text-align: center;
    margin: 0;
}

#about-preview,
#experiences-preview,
#goals-preview {
    text-align: center;
    padding: 8vh 1em; 
    display: block; 
}

#about-preview h1,
#experiences-preview h1,
#goals-preview h1 {
    font-size: clamp(7vw, 11vw, 9rem);
    margin-bottom: 1rem;
    color: var(--foreground);
}

p.title {
    text-align: center;
    font-family: "Dm Serif Display";
    color: var(--foreground);
    font-size: 1.5rem;
    letter-spacing: 1vw;
    margin: 0;
    padding: 2.5em;
}

h1.typo-based {
    font-family: "Sofia Sans";
    font-weight: 900;
    color: var(--foreground);
    width: 85%;
    margin: 0 auto; 
    padding: 1.5em 0;
}

.skill-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 2em 0.5em 0 1em;
    margin: 0 auto;
}

.skill-item img {
    margin-right: 1em;
    margin: 0;
    width: 7rem;
    filter: grayscale(90%);
}

.skill-item-text {
    padding: 1em 0 0 2em;
}

.skill-item h2 {
    margin: 0;
    font-size: clamp(2rem, 8vw, 2rem);
    color: var(--accent);
    font-family: "Dm Serif Display";
}

.skill-item p {
    font-family: "Sofia Sans";
    color: var(--light-foreground);
    letter-spacing: 0.1vw;
    margin: 0;
}

.button-section {
    text-align: center;
    padding: 2em 0;
}

.button-section a {
    font-family: "Sofia Sans";
    font-weight: 600;
    background-color: var(--foreground);
    color: var(--background);
    padding: 2vw 3vw;;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    border-radius: 25px;
}

.button-section a:hover {
    background-color: var(--light-accent);
    color: var(--background);
}

#experiences-preview {
    background-image: url("../images/experience_preview_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.work-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; 
    overflow: hidden; 
    padding: 1.5em;
}

.work-preview img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
    filter: grayscale(90%);
    transition: filter 500ms ease-out;
}

.work-preview img:hover {
    filter: none;
}

.work-preview-text {
    font-family: "Sofia Sans";
    color: #242526;
    font-size: 1rem;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    padding: 1em;
}

.work-preview-text h2 {
    font-family: "Dm Serif Display";
    font-size: clamp(1.5rem, 10vw, 1rem); 
    letter-spacing: 0;
}

#goals-preview {
    background-image: url("../images/goals_preview_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.sidebar h2, .footer-sitemap h2 {
    font-family: "Sofia Sans";
    font-weight: 600;
    color: var(--accent);
    letter-spacing: 0.1vw;
    font-size: 2.25rem;
    padding: 0.5em;
}

.sidebar small, .footer-sitemap small {
    font-family: "Sofia Sans";
    font-weight: 100;
    color: var(--foreground);
    letter-spacing: 0.1vw;
    font-size: 0.9rem;
}

.sidebar a, .footer-sitemap a {
    font-family: "Sofia Sans";
    font-weight: 100;
    letter-spacing: 0.1vw;
    font-size: 2.25rem;
    color: var(--foreground);
}

.sitemap-link, .nav-link {
    padding: 1.25em;
    display: flex;
    flex-direction: column;
}

.sidebar p, .footer-sitemap p {
    margin: 0;
}

a:hover {
    color: var(--accent);
  }
  
.sidebar a:active, .footer-sitemap a:active {
    color: var(--light-accent);
  }

.footer-social-media {
    display: flex;
    justify-content: center;
    padding: 2em 2em 1em 2em;
}

.footer-social-media img {
    padding: 0.5em;
    width: 12%;
    cursor: pointer;
}

.footer-sitemap p.copyright {
    font-family: "Sofia Sans";
    color: var(--foreground);
    padding: 5em;
}


/* 
===============
About Page 
===============
*/

#story img {
    display: block;
    margin: auto;
    width: 100%;
    filter: grayscale(90%);
}

#story-text {
    display: block;
    margin: auto;
    width: 75%;
    font-family: "Sofia Sans";
    color: var(--light-foreground);
}

#story-text h2 {
    font-weight: 600;
    padding: 0.5em 0 0 0;
}

#process {
    display: block;
    width: 75%;
    margin: auto;
}

#process img {
    float: right;
    width: 7.5em;
}

#process-text {
    text-align: left;
    width: 10em;
    font-size: clamp(0.7rem, 3.5vw, 1rem);
    font-family: "Sofia Sans";
    color: var(--light-foreground);
}

#tools {
    display: block;
    width: 75%;
    margin: auto;
    text-align: center;
    color: var(--light-foreground);
    font-family: "Sofia Sans";
}

.tools-list {
    display: flex;
    flex-direction: column;
}

.tools-list h2 {
    font-family: "DM Serif Display";
}

.tools-list ul {
    display: table;
    padding: 0;
}

.tools-list li {
    list-style-type: none;
    margin: 0;
}

/* 
===============
Works Page 
===============
*/

.works-one {
    margin: 8rem 3rem;
}

.works-text {
    padding: 1em;
    box-sizing: border-box;
    font-family: "Sofia Sans";
}

.works-text h1 {
    color: var(--foreground);
    font-size: clamp(1.5rem, 3vw, 5rem);
}

.works-text h2 {
    color: var(--accent);
    font-size: 1.25em;
    font-style: italic;
    font-size: clamp(0.85rem, 2vw, 5rem);
}

.works-text p {
    color: var(--light-foreground);
    font-size: clamp(0.75rem, 2vw, 5rem);
}

.works-images {
    height: 35rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    overflow: hidden;
    padding: 1rem;
}

.tab {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 25px;
}

.tab img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(90%);
}

.tab img:hover {
    filter: none;
    transform: scale(1.1);
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.tab:nth-child(4) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
}

/* 
===============
Contacts Page 
===============
*/

#contacts-headings, #contact-details, #contacts-form {
    text-align: center;
}

#contacts-headings h1, #contacts-headings h2 {
    font-family: "DM Serif Display";
    margin: 0;
    color: var(--foreground);
}

#contacts-headings h1 {
    font-size: clamp(3rem, 3vw, 5rem);
    font-weight: 500;
}

#contacts-headings h2 {
    color: var(--accent);
    font-size: clamp(1.5rem, 3vw, 5rem);
    font-style: italic;
    font-family: "Sofia Sans";
    font-weight: 300;
    padding: 0.5rem;
}

#contact-details {
    padding: 3rem 0 0 0;
    color: var(--light-foreground);
    font-family: "Sofia Sans";
}

#contacts-form {
    display: flex;
    flex-direction: column;
    padding: 4rem 6rem;
}

#contacts-form label {
    color: var(--light-foreground);
    font-family: "Sofia Sans";
    font-weight: 600;
    padding: 1.5rem 0 0.5rem 0;
}

#contacts-form input, textarea {
    padding: clamp(1rem, 3vw, 2rem);
    background-color: var(--light-foreground);
    text-align: center;
    border-radius: 0.5rem;
}

input#message {
    padding: 3rem;
}

#contacts-form input[type=submit] {
    margin: 1rem;
}

#contacts-form input[type=submit]:hover {
    background-color: var(--light-accent);
}

#contacts-icons {
    display: none;
}


/* Small Heights */
@media (min-height: 0px) and (max-height: 480px) {

    .quote-text, .summary-text {
        font-size: 0.75rem;
    }

    .quote-text {
        padding: 3em;
    }

    #main-headings {
        top: 6em;
    }

    #main-headings img {
        width: 50%;
    }

    .summary-text {
        bottom: calc(20% - 3rem);
    }

    .work-preview-text {
        font-size: 0.5rem;
        width: 160px;
    }
    
    #process img {
        width: 6em;
    }

}

/* Medium Heights */
@media (min-height: 480px) and (max-height: 600px) {

    .quote-text {
        padding: 2em;
    }

    #main-headings {
        top: 10em;
    }

    #main-headings img {
        width: 80%;
    }

    #about-preview h1, #experiences-preview h1, #goals-preview h1 {
        font-size: clamp(5vw, 8vw, 6rem);
    }

}

/* Small Phone Size */
@media (min-width: 0px) and (max-width: 500px) {

    .skill-item h2 {
        font-size: 1.25rem;
    }

    .skill-item p {
        font-size: 0.75rem;
    }

    .skill-item-text {
        font-size: 0.5rem;
    }

    #about-preview h1, #experiences-preview h1, #goals-preview h1 {
        font-size: clamp(5vw, 6vw, 9rem);
    }

    .sitemap-link a, .nav-link a {
        font-size: 1.5rem;
    }

    .small {
        font-size: 0.25rem;
    }

    .sidebar h2, .footer-sitemap h2 {
        padding: 0.25em;
        font-size: 1.25rem;
    }

    .work-preview-text {
        width: 185px;
    }

    .work-preview-text p {
        font-size: 0.65rem;
    }
}

/* Medium Phone & Tablet Size */
@media (min-width: 501px) and (max-width: 979px) {

    #main-headings img {
        width: 50%;
    }

    .quote-text, .summary-text {
        font-size: 1.5rem;
    }

    #about-preview h1, #experiences-preview h1, #goals-preview h1 {
        font-size: clamp(5vw, 8vw, 6rem);
    }

    .skill-item-text {
        padding: 1em 0 0 2.5em;
    }

    .footer-social-media img {
        width: 10%;
    }

}

/* Laptop Size */
@media (min-width: 980px) {

    .sidebar {
        translate: none;
        background: none;
        text-align: right;
        min-height: 0svh;
        position: fixed;
        display: flex;
        align-items: flex-end;
        right: 0rem;
    }

    .sidebar h2, .sidebar small, .hamburger-menu {
        display: none;
    }

    .nav-link {
        display: inline-block;
        position: relative;
        z-index: 999;
    }

    .nav-link a {
        font-size: 1.25rem;
        text-decoration: none;
        text-shadow: 1.5px 1.5px black;
    }

    #main-headings {
        top: 12em;
    }

    #main-headings img {
        width: 35%;
    }

    .quote-text, .summary-text {
        font-size: 2rem;
        letter-spacing: 0.1vw;
    }

    p.title {
        letter-spacing: 0.5vw;
    }

    #about-preview h1, #experiences-preview h1, #goals-preview h1 {
        font-size: clamp(4.25vw, 4vw, 4rem);
    }

    #skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }
    
    .skill-item {
        display: flex;
        align-items: center;
        padding: 1em 1em 1em 6em;
    }
    
    .skill-item.right-skill {
        flex-direction: row-reverse;
        padding: 1em 6em 1em 1em;
    }

    .skill-item p {
        font-size: 1.25rem;
    }
    
    .skill-item img {
        width: 25%;
        margin-right: 1em;
    }
    
    .skill-item-text {
        flex: 1;
    }
    
    .skill-item.right-skill .skill-item-text {
        text-align: right;
        padding: 1em 2em 0 0;
    }

    button {
        padding: 1vw 2vw;
    }

    .work-preview {
        position: relative;
        display: flex;
        align-items: center;
        gap: 2em;
    }
    
    .work-preview-text {
        text-align: left;
        position: absolute;
        top: 50%;
        left: calc(50% + 20px);
        transform: translateY(-50%);
        width: calc(140vw - 100% - 20px);
        max-width: 700px;
    }

    .works-images {
        padding: 1rem 0 1rem 3rem;
    }

    .works-text p {
        font-size: clamp(1.25rem, 1.25vw, 5rem);
    }

    .footer-social-media img {
        width: 3%;
    }

    #story, #process, #tools {
        padding: 3em;
    }

    #story img {
        width: 24em;
        float: left;
        padding: 1em;
    }
    
    #story-text {
        width: 100%;
        display: flex;
        gap: 5rem;
    }
    
    .story-text-item {
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 1.25rem;
        margin: 0;
    }

    #process-text {
        font-size: 1.25rem;
        width: 50%;
    }

    #process img {
        width: 20em;
    }

    #tools {
        display: block;
        width: 75%;
        margin: auto;
        text-align: center;
        color: var(--light-foreground);
        font-family: "Sofia Sans";
        font-size: 1.25rem;
    }
    
    .tools-container {
        display: flex;
    }

    .tools-list {
        flex: 33%;
    }

    .works-one {
        display: flex;
    }

    .works-text {
        width: 45%; 
    }

    .works-text h2 {
        font-size: clamp(0.65rem, 1.25vw, 5rem);
    }

    .works-text p {
        font-size: clamp(1.25rem, 1vw, 5rem);
    }

    .works-images {
        width: 50%;
    }

    #contacts-form input, textarea {
        padding: 1rem;
        border-radius: 1rem;
    }

    #contact-info {
        float: left;
    }

    #contacts-headings {
        text-align: left;
        padding: 5rem 5rem 2rem 8rem;
    }

    #contacts-headings h1 {
        font-size: clamp(4rem, 6vw, 8rem);
    }

    #contacts-headings h2 {
        font-size: clamp(2.25rem, 3.5vw, 5rem);
    }

    #contacts-icons {
        display: flex;
        flex-direction: column;
    }

    #contacts-form {
        padding: 4rem 10rem;
    }

    #contacts-form input, textarea {
        font-size: clamp(0.5rem, 3vw, 1rem);
    }

    #contacts-form label {
        text-align: left;
        font-size: 1.5rem;
        padding: 1rem 0 0.5rem 0;
    }

    #contacts-form input[type=submit] {
        padding: 1rem;
    }

    #contact-details {
        display: none;
    }

    #contacts-icons {
        display: flex;
    }
      
    .contact-icon {
        display: flex;
        align-items: center;
    }
    
    .contact-icon img {
        max-width: 6rem;
        padding: 2rem 1rem 0 7rem;
    }

    .contact-icon p {
        font-size: 1.75rem;
        font-family: "Sofia Sans";
        color: var(--foreground)
    }
      
}

/* Wide Laptop Size */
@media (min-width: 980px) and (max-height: 600px) {

    .quote-text, .summary-text {
        font-size: 1.5rem;
        letter-spacing: 0.1vw;
    }

    #main-headings {
        top: 10em;
    }

}

/* Wide & Large Laptop Size */
@media (min-width: 1440px) {

    #main-headings {
        top: 15em;
    }

    #main-headings img {
        width: 25%;
    }

}
